.react-grid-Header {
		box-shadow: 0 0 4px 0 #ddd;
		background: #f9f9f9
}
.react-grid-Header--resizing {
		cursor: ew-resize
}
.react-grid-HeaderCell,
.react-grid-HeaderRow {
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none
}
.react-grid-HeaderCell {
		background: #f9f9f9;
		padding: 8px;
		font-weight: 700;
		border-right: 1px solid #ddd;
		border-bottom: 1px solid #ddd
}
.react-grid-HeaderCell__value {
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		position: relative;
		top: 50%;
		transform: translateY(-50%)
}
.react-grid-HeaderCell__resizeHandle:hover {
		cursor: ew-resize;
		background: #ddd
}
.react-grid-HeaderCell--locked:last-of-type {
		box-shadow: none
}
.react-grid-HeaderCell--resizing .react-grid-HeaderCell__resizeHandle {
		background: #ddd
}
.react-grid-HeaderCell__draggable {
		cursor: col-resize
}

.react-grid-Row.row-context-menu .react-grid-Cell,
.react-grid-Row:hover .react-grid-Cell {
		/*background-color: #f2f2f2*/
}
.react-grid-Row:hover .rdg-row-index {
		display: none
}
.react-grid-Row:hover .rdg-actions-checkbox {
		display: block
}
.react-grid-Row:hover .rdg-drag-row-handle {
		cursor: move;
		cursor: grab;
		cursor: -moz-grab;
		cursor: -webkit-grab;
		width: 12px;
		height: 30px;
		margin-left: 0;
		background-image: url("data:image/svg+xml;base64, PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+Cjxzdmcgd2lkdGg9IjlweCIgaGVpZ2h0PSIyOXB4IiB2aWV3Qm94PSIwIDAgOSAyOSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDwhLS0gR2VuZXJhdG9yOiBTa2V0Y2ggMzkgKDMxNjY3KSAtIGh0dHA6Ly93d3cuYm9oZW1pYW5jb2RpbmcuY29tL3NrZXRjaCAtLT4KICAgIDx0aXRsZT5kcmFnIGljb248L3RpdGxlPgogICAgPGRlc2M+Q3JlYXRlZCB3aXRoIFNrZXRjaC48L2Rlc2M+CiAgICA8ZGVmcz48L2RlZnM+CiAgICA8ZyBpZD0iQWN0dWFsaXNhdGlvbi12MiIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGcgaWQ9IkRlc2t0b3AiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0xNS4wMDAwMDAsIC0yNjIuMDAwMDAwKSIgZmlsbD0iI0Q4RDhEOCI+CiAgICAgICAgICAgIDxnIGlkPSJJbnRlcmFjdGlvbnMiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDE1LjAwMDAwMCwgMjU4LjAwMDAwMCkiPgogICAgICAgICAgICAgICAgPGcgaWQ9IlJvdy1Db250cm9scyIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMC4wMDAwMDAsIDIuMDAwMDAwKSI+CiAgICAgICAgICAgICAgICAgICAgPGcgaWQ9ImRyYWctaWNvbiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMC4wMDAwMDAsIDIuMDAwMDAwKSI+CiAgICAgICAgICAgICAgICAgICAgICAgIDxjaXJjbGUgaWQ9Ik92YWwtMzAiIGN4PSIyIiBjeT0iMiIgcj0iMiI+PC9jaXJjbGU+CiAgICAgICAgICAgICAgICAgICAgICAgIDxjaXJjbGUgaWQ9Ik92YWwtMzAiIGN4PSI3IiBjeT0iMiIgcj0iMiI+PC9jaXJjbGU+CiAgICAgICAgICAgICAgICAgICAgICAgIDxjaXJjbGUgaWQ9Ik92YWwtMzAiIGN4PSIyIiBjeT0iNyIgcj0iMiI+PC9jaXJjbGU+CiAgICAgICAgICAgICAgICAgICAgICAgIDxjaXJjbGUgaWQ9Ik92YWwtMzAiIGN4PSI3IiBjeT0iNyIgcj0iMiI+PC9jaXJjbGU+CiAgICAgICAgICAgICAgICAgICAgICAgIDxjaXJjbGUgaWQ9Ik92YWwtMzAiIGN4PSIyIiBjeT0iMTIiIHI9IjIiPjwvY2lyY2xlPgogICAgICAgICAgICAgICAgICAgICAgICA8Y2lyY2xlIGlkPSJPdmFsLTMwIiBjeD0iNyIgY3k9IjEyIiByPSIyIj48L2NpcmNsZT4KICAgICAgICAgICAgICAgICAgICAgICAgPGNpcmNsZSBpZD0iT3ZhbC0zMCIgY3g9IjIiIGN5PSIxNyIgcj0iMiI+PC9jaXJjbGU+CiAgICAgICAgICAgICAgICAgICAgICAgIDxjaXJjbGUgaWQ9Ik92YWwtMzAiIGN4PSI3IiBjeT0iMTciIHI9IjIiPjwvY2lyY2xlPgogICAgICAgICAgICAgICAgICAgICAgICA8Y2lyY2xlIGlkPSJPdmFsLTMwIiBjeD0iMiIgY3k9IjIyIiByPSIyIj48L2NpcmNsZT4KICAgICAgICAgICAgICAgICAgICAgICAgPGNpcmNsZSBpZD0iT3ZhbC0zMCIgY3g9IjciIGN5PSIyMiIgcj0iMiI+PC9jaXJjbGU+CiAgICAgICAgICAgICAgICAgICAgICAgIDxjaXJjbGUgaWQ9Ik92YWwtMzAiIGN4PSIyIiBjeT0iMjciIHI9IjIiPjwvY2lyY2xlPgogICAgICAgICAgICAgICAgICAgICAgICA8Y2lyY2xlIGlkPSJPdmFsLTMwIiBjeD0iNyIgY3k9IjI3IiByPSIyIj48L2NpcmNsZT4KICAgICAgICAgICAgICAgICAgICA8L2c+CiAgICAgICAgICAgICAgICA8L2c+CiAgICAgICAgICAgIDwvZz4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPg==");
		background-repeat: no-repeat
}
.react-grid-Row.row-selected,
.react-grid-Row .row-selected {
		background-color: #dbecfa
}
.react-grid-row-group .row-expand-icon:hover {
		color: #777
}
.react-grid-row-index {
		padding: 0 18px
}
.rdg-row-index {
		display: block;
		text-align: center
}
.rdg-row-actions-cell {
		padding: 0
}
.rdg-actions-checkbox {
		display: none;
		text-align: center
}
.rdg-actions-checkbox.selected {
		display: block
}
.rdg-dragging {
		cursor: -webkit-grabbing;
		cursor: -moz-grabbing;
		cursor: grabbing
}
.rdg-dragged-row {
		border-bottom: 1px solid #000
}

.react-grid-Cell {
		background-color: #fff;
		padding-left: 8px;
		padding-right: 8px;
		border-right: 1px solid #eee;
		border-bottom: 1px solid #ddd
}
.react-grid-Cell:focus {
		outline: 2px solid #66afe9;
		outline-offset: -2px
}
.react-grid-Cell:focus .drag-handle {
		position: absolute;
		bottom: -5px;
		right: -4px;
		background: #66afe9;
		width: 8px;
		height: 8px;
		border: 1px solid #fff;
		border-right: 0;
		border-bottom: 0;
		z-index: 8;
		cursor: crosshair;
		cursor: -webkit-grab
}
.react-grid-Cell:not(.editing) .react-grid-Cell__value {
		/*white-space: nowrap;*/
		word-break: break-all;
		text-overflow: ellipsis;
		overflow: hidden;
		position: relative;
		top: 50%;
		transform: translateY(-50%)
}
.react-grid-Cell.readonly {
		background-color: #000
}
.react-grid-Cell.copied {
		background: rgba(0, 0, 255, .2)!important;
		-webkit-transition: background .5s
}
.react-grid-Cell--locked:last-of-type {
		border-right: 1px solid #ddd;
		box-shadow: none;
		z-index: 99
}
.react-grid-Cell:hover:focus .drag-handle .glyphicon-arrow-down {
		display: "block"
}
.react-grid-Cell.is-dragged-over-down {
		border-right: 1px dashed #000;
		border-left: 1px dashed #000;
		border-bottom: 1px dashed #000
}
.react-grid-Cell.is-dragged-over-up {
		border-right: 1px dashed #000;
		border-left: 1px dashed #000;
		border-top: 1px dashed #000
}
.react-grid-Cell.is-dragged-over-up .drag-handle {
		top: -5px
}
.react-grid-Cell:hover {
		background: #eee
}
.react-grid-cell .form-control-feedback {
		color: #a94442;
		position: absolute;
		top: 0;
		right: 10px;
		z-index: 1000000;
		display: block;
		width: 34px;
		height: 34px
}
.react-grid-Cell.was-dragged-over {
		border-right: 1px dashed #000;
		border-left: 1px dashed #000
}
.react-grid-Cell:hover:focus .drag-handle {
		position: absolute;
		bottom: -8px;
		right: -7px;
		background: #fff;
		width: 16px;
		height: 16px;
		border: 1px solid #66afe9;
		z-index: 8;
		cursor: crosshair;
		cursor: -webkit-grab
}
.react-grid-Row.row-exists .react-grid-Cell {
 	background-color: #E09870;
}
.react-grid-Row.row-selected .react-grid-Cell {
		background-color: #dbecfa
}
.react-grid-Cell.editing {
		padding: 0;
		overflow: visible!important
}
.react-grid-Cell.editing .has-error input {
		border: 2px solid red!important;
		border-radius: 2px!important
}
.react-grid-Cell__value ul {
		margin-top: 0;
		margin-bottom: 0;
		display: inline-block
}
.react-grid-Cell__value .btn-sm {
		padding: 0
}
.cell-tooltip {
		position: relative;
		display: inline-block
}
.cell-tooltip .cell-tooltip-text {
		visibility: hidden;
		width: 150px;
		background-color: #000;
		color: #fff;
		text-align: center;
		border-radius: 6px;
		padding: 5px 0;
		position: absolute;
		z-index: 1;
		bottom: -150%;
		left: 50%;
		margin-left: -60px;
		opacity: 0;
		transition: opacity 1s
}
.cell-tooltip:hover .cell-tooltip-text {
		visibility: visible;
		opacity: .8
}
.cell-tooltip .cell-tooltip-text:after {
		content: " ";
		position: absolute;
		bottom: 100%;
		left: 50%;
		margin-left: -5px;
		border-width: 5px;
		border-style: solid;
		border-color: transparent transparent #000
}
.react-grid-Canvas.opaque .react-grid-Cell.cell-tooltip:hover .cell-tooltip-text {
		visibility: hidden
}

.react-grid-Container {
		clear: both;
		margin-top: 0;
		padding: 0
}
.react-grid-Main {
		background-color: #fff;
		color: inherit;
		padding: 0;
		outline: 1px solid #e7eaec;
		clear: both
}
.react-grid-Grid {
		border: 1px solid #ddd
}
.react-grid-Canvas,
.react-grid-Grid {
		background-color: #fff
}
.react-grid-Canvas.opaque .react-grid-Cell:not(.editing) {
		opacity: .4;
		transition: opacity .25s ease-in-out;
		-moz-transition: opacity .25s ease-in-out;
		-webkit-transition: opacity .25s ease-in-out
}
.react-grid-Cell input.editor-main,
select.editor-main {
		display: block;
		width: 100%;
		height: 34px;
		padding: 6px 12px;
		font-size: 14px;
		line-height: 1.42857143;
		color: #555;
		background-color: #fff;
		background-image: none;
		border: 1px solid #ccc;
		border-radius: 4px;
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
		-webkit-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
		-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
		transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}
input.editor-main:focus,
select.editor-main:focus {
		border-color: #66afe9;
		border: 2px solid #66afe9;
		background: #eee;
		border-radius: 4px
}
.react-grid-Cell input.editor-main::-moz-placeholder,
select.editor-main::-moz-placeholder {
		color: #999;
		opacity: 1
}
.react-grid-Cell input.editor-main:-ms-input-placeholder,
select.editor-main:-ms-input-placeholder {
		color: #999
}
.react-grid-Cell input.editor-main::-webkit-input-placeholder,
select.editor-main::-webkit-input-placeholder {
		color: #999
}
.react-grid-Cell input.editor-main[disabled],
.react-grid-Cell input.editor-main[readonly],
fieldset[disabled] .react-grid-Cell input.editor-main,
fieldset[disabled] select.editor-main,
select.editor-main[disabled],
select.editor-main[readonly] {
		cursor: not-allowed;
		background-color: #eee;
		opacity: 1
}
textarea.react-grid-Cell input.editor-main,
textareaselect.editor-main {
		height: auto
}
.react-grid-ScrollShim {
		z-index: 10002
}
.row-buttons {
	position: absolute;
  top: 5px;
  width: 97%;
  margin-left: 1px;
  padding-bottom: 5px;
  padding-top: 5px;
  background: transparent;
  border: 1px solid #D5D5D5;
}
#guestTable {
	margin-top: 50px;
}
.row-buttons button {
	background: transparent;
	border-color: transparent;
	color: #000;
}
.row-buttons button {
	/*padding-left: 8px;*/
	border-radius: inherit;
}
.row-buttons button:hover, .row-buttons button:focus {
	background-color: #eaeaea;
	border-color: #eaeaea;
	color: #000;
}
.btn-margin {
	margin-left: 7px;
}
.row-buttons button:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 0px;
  top: 1px;
  height: 30px;
  border-radius: 50%;
  border-right: 1px solid #DDD;
  border-left: 1px solid #fafafa;
  margin-left: 15px;
}
